__pycache__

srv*/auth/BANIP
srv*/auth/CMD
srv*/auth/CRC
srv*/auth/packet_info.txt
srv*/auth/pid
srv*/auth/PTS
srv*/auth/srv*-auth
srv*/auth/state_user_count
srv*/auth/stdout
srv*/auth/syserr
srv*/auth/syslog
srv*/auth/VERSION
srv*/auth/VERSION.txt

srv*/chan/ch*/core*/CMD
srv*/chan/ch*/core*/CRC
srv*/chan/ch*/core*/packet_info.txt
srv*/chan/ch*/core*/pid
srv*/chan/ch*/core*/PTS
srv*/chan/ch*/core*/srv*-ch*-core*
srv*/chan/ch*/core*/state_user_count
srv*/chan/ch*/core*/stdout
srv*/chan/ch*/core*/syserr
srv*/chan/ch*/core*/syslog
srv*/chan/ch*/core*/VERSION
srv*/chan/ch*/core*/VERSION.txt

srv*/chan/ch*/core*/srv*-ch*-core*

srv*/db/pid
srv*/db/PTS
srv*/db/srv*-db
srv*/db/syserr
srv*/db/syslog
srv*/db/VERSION.txt
srv*/db/item_names.txt
srv*/db/item_proto.txt
srv*/db/mob_names.txt
srv*/db/mob_proto.txt

srv*/logs

srv*/auth/cores
srv*/auth/data
srv*/auth/locale
srv*/auth/log
srv*/auth/package
srv*/auth/panama
srv*/chan/ch*/core*/cores
srv*/chan/ch*/core*/data
srv*/chan/ch*/core*/locale
srv*/chan/ch*/core*/log
srv*/chan/ch*/core*/mark
srv*/chan/ch*/core*/package
srv*/chan/ch*/core*/panama
srv*/db/cores
srv*/db/log

srv*/share/bin/db
srv*/share/bin/game

srv*/share/locale/germany/quest/object
srv*/share/locale/germany/quest/pre_qc
# srv*/share/locale/germany/quest/qc